body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('9.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #8500fa;
}

p {
  font-weight: 500;
  font-family: Verdana, sans-serif;
}

.container {
  display: flex;
  width: 30%;
  flex-direction: row;
  margin-right: 60%;
}

.App {
  flex: 1;
  margin: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header {
  background-color: rgba(244, 244, 244, 0.3);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.App-link {
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.App-link:hover {
  background-color: #0056b3;
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
    background-image: url('1.jpg');
    background-size: cover;
    height: auto;
    min-height: 100vh;
  }
  .container {
    width: 100%;
    flex-direction: column;
    margin-right: 0;
  }
  .App {
    margin: 5px;
  }
  .App-header {
    min-height: 60vh;
    padding: 10px;
    font-size: calc(8px + 2vmin);
  }
}
