.lgtitle {
    margin-top: 8%; /* Adjusted for better vertical spacing */
}

body {
    background-color: rgb(33, 0, 44);
    font-family: Arial, sans-serif; /* Ensuring consistent font across the design */
}

.container {
    background-color: #ad51e2;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #a013d3;
    margin: 10px; /* Added margin for spacing around container */
    width: 100%; /* Full width on mobile for better use of space */
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

.container:hover {
    box-shadow: 0 0 20px #8103c5;
}

.form-header, .form-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align to handle different text lengths */
    width: 100%;
}

h1 {
    font-size: 20px; /* Larger font size for readability */
    color: #333;
    cursor: pointer;
    margin-bottom: 10px; /* Increased spacing */
}

h1.active {
    color: #490261;
    border-bottom: 2px solid #490261;
}

label {
    margin-bottom: 10px; /* Increased label spacing for clarity */
    color: #fff; /* Changed color for better contrast */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px; /* Increased padding for easier interaction */
    margin-bottom: 20px; /* Increased margin for better spacing */
    border-radius: 5px; /* Rounded edges for a softer look */
}

input[type="submit"] {
    padding: 12px;
    background-color: #6d138b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Larger font size for easier reading */
}

input[type="submit"]:hover {
    background-color: #5b0578;
}

/* Apply these styles only to devices with a width less than 768px */
@media (max-width: 768px) {
    .lgtitle {
        margin-top: 12%; /* Increased top margin for better vertical rhythm */
    }

    .sjw {
        flex-direction: column; /* Align content vertically */
        margin-top: 5%;
    }

    .container {
        border-radius: 5px; /* Softer border-radius for a friendlier feel */
        padding: 15px; /* Slightly reduced padding */
    }
}
