<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/login.css" />
</head>
<body>
    <div class="lgtitle"></div>
    <div class="sjw">
        <section class="container">
            <h1 style="color: rgba(75, 169, 255, 0.9); margin-left: 9%;">Enter New Password</h1><br>
            {% if message %}
            <div style="color: red; text-align: center;">{{ message }}</div>
            {% endif %}
            <form action="/reset_verify/{{ user_id }}" method="POST">
                <div class="form-content">
                    <label for="reset-password" style="color: white;">New Password:</label>
                    <input type="password" id="reset-password" name="reset-password" required>
                    <br><br>
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        </section>
    </div>
</body>
</html>
